/* 首页分类条展示 */
#category-bar{
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--heo-card-bg);
  border-radius: 30px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  border: var(--style-border);
  width: 100%;
  box-shadow: 0 8px 16px -4px #2c2d300c;
}

#category #category-bar{
  padding: 0;
  border: none;
}

#category a.category-bar-item.select a{
  display: none;
}

.category-in-bar{
  display: flex;
  white-space: nowrap;
}

.category-in-bar-tips{
  margin-right: 1rem;
}

.category-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}



.category-bar-items::-webkit-scrollbar{
  display: none;
}

.category-bar-item a{
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-radius: 12px;
}

.category-bar-item:hover a{
  background: var(--heo-main);
  color: var(--heo-white);
}

.category-bar-item.select a {
  background: var(--heo-main);
  color: var(--heo-white);
  border-radius: 12px;
}

.category-bar-more{
  margin-left: 1rem;
  font-weight: bold;
}

/* 手机端分类栏样式 */
@media screen and (max-width: 768px){
  #category-bar {
    position: sticky;
    top: 57px;
    z-index: 2;
    border-radius: .5rem;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border: 1px solid rgba(150,150,150,0.2);
    justify-content: space-between;
    box-shadow: 0 8px 16px -4px #2c2d3017;
  }
}

/* 分类标题样式 */
.category-in-bar-tips{
  display: none;
}

/********** 分类条文字样式 **********/
.category-bar-more {
  color: var(--font-color);
}

.category-bar-item a {
  color: var(--font-color);
  padding: 8px 18px;
}

.category-bar-item:hover a{
  border-radius: 20px;
}

.category-bar-item.select a {
  border-radius: 20px;
}
/********** 分类条文字样式 **********/

#category-bar i {
  line-height: inherit;
  margin: 0 1rem 0px 8px;
}

#category-bar:hover {
  border: var(--style-border-hover);
  box-shadow: var(--anzhiyu-shadow-main);
}