#bbTimeList {
    background: var(--anzhiyu-white);
    color: var(--anzhiyu-fontcolor);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    box-shadow: var(--anzhiyu-shadow-lightblack);
    display: flex;
    transition: all 0.3s ease 0s;
    margin: 1rem auto 0;
    border: var(--style-border);
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 1425px;
    border-width: 1px;
  }

/************** 手机端布局样式 **************/
@media screen and (max-width: 768px){
  #bbTimeList {
      margin: 0.5rem auto 0;
  }
}

@media screen and (max-width: 1400px){
  #bbTimeList {
      max-width: calc(100% - 40px);
  }
}
/************** 手机端布局样式 **************/

  [data-theme="dark"] #bbTimeList {
    background: #000 !important;
  }
  #bbtalk {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
  }
  .bber-logo {
    font-size: 2.5rem;
    line-height: 22px;
    margin-right: 1rem;
    transition: all 0.3s ease 0s;
    cursor: url(https://cdn.jsdelivr.net/gh/ShineYull/cdn_jsdelivr@0.0.4/img/x2.cur), auto !important;
  }
  
  .bber-gotobb {
    line-height: 25px;
    margin-left: 1rem;
    transition: all 0.3s ease 0s;
    cursor: url(https://cdn.jsdelivr.net/gh/ShineYull/cdn_jsdelivr@0.0.4/img/x2.cur), auto !important;
  }
  
  #bber-talk .li-style {
    width: 100%;
    max-width: 100%;
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
    font-weight: 700;
    margin: auto;
    cursor: url(https://cdn.jsdelivr.net/gh/ShineYull/cdn_jsdelivr@0.0.4/img/x2.cur), auto !important;
    white-space: nowrap;
  }
  
  #bbTimeList:hover {
    border: var(--style-border-hover);
    box-shadow: var(--anzhiyu-shadow-main);
  }
  
  /* 文章页H1-H6图标样式效果 */
  .bbTimeList .bber-logo {
    -webkit-animation: rotate 1.6s linear infinite;
    animation: rotate 1.6s linear infinite;
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn);
    }
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn);
    }
  }